/* Header Section */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393e46;
  color: #eeeeee;
}

.sub-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffd369;
  color: black;
  text-align: center;
  height: 50px;
}

.sub-title p {
  margin: 0;
}

/* Footer Section */

.contactSection {
  padding: 50px 0;
  background-color: #ffd369;
  color: black;
  text-align: center;
}

.contactButton {
  color: black;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 2px;
  text-decoration: none;
}

.contactButton:hover {
  text-decoration: none;
  color: #fff;
  background-color: #393e46;
}

.flex-container {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_icons {
  background-color: #393e46;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: 20px;
}

.footer_icons a {
  color: #fff;
  padding: 0 5px;
}

.footer_icons a:hover {
  color: #ffd369;
}

.footer_text {
  font-size: 13px;
  background-color: #393e46;
  color: #eeeeee;
  padding: 0 0 20px;
  text-align: center;
}

/* Glossary Item Card */

.item-card {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px 20px;
  width: 240px;
  margin: 16px;
  float: left;
  text-align: left;
}
.item-card h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.item-card p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.item-card button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: #e8e8e8;
  color: #f5ba13;
  border: none;
  border-radius: 7px;
  width: 50px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

.item-card button:hover {
  background-color: #f5ba13;
  color: #e8e8e8;
}

/* Glossary Create Item */

form.create-item {
  position: relative;
  width: 450px;
  margin: 50px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-item input,
form.create-item textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-item button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.create-item button:hover {
  background: #e8e8e8;
  color: #f5ba13;
}
